*{
  padding: 0;
  margin: 0;
}
.logo{
  width: 200px;
}
.logo1{
  height: 100px;
}
.top-btn{
  background-color: #1C75BC !important;
  font-size: 16px;
  line-height: 24px;
  border-radius: 9px;
  font-weight: bold;
}
.top-btn:focus{
  box-shadow: none;
  box-shadow: none;
} 

/* stylw of background image is goes here */
.row>*{
  padding-left: 0;
}
#wave-header{
  background-image: url(./img/bg.png);
  width: 100% !important;
  height: 980px; 
  background-repeat: no-repeat;
  background-size: cover;
}
.sidebar-btns button{
  width: 245px !important;
  height: 45px;
  border-radius: 0px;
  border-top-right-radius: 9.73px;
  border-bottom-right-radius: 9.73px;
  padding-top: 10px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;

}
.manual-btn{
  background-color: #343434;
  padding-right: 3.4rem;
}
.get-btn{
  background-color: #343434;
}
.buy-btn{
  background-color: #B70000 !important;
  padding-right: 2.8rem;
}
.sidebar-btns button:focus{
  outline: none;
  box-shadow: none;
}
.sidebar-btns button:hover{
  color: #FFFFFF;
}
.computer-img{
  width: 80%;
}

/* styles of boxex */

.header-box{
  background-color: #FFFFFF;
  width: 55%;
  margin-top: -37rem;
  margin-right: 7rem;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #323031;
}
.header-box1{
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:  left;
  width: 55%;
  margin-right: 7rem;
  box-shadow: 0px 2.43189px 7.29568px rgba(0, 0, 0, 0.14);
  border-radius: 4.86379px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #323031;
}
.header-end-para{
  width: 59.5%;
  margin-right: 6rem;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #323031;
}
.box-icons{
  width: 100px;
  margin-left: -5rem;
}

/* media curi is here */

@media screen and (max-width: 992px) {
  .header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .header-main-boxes{
    padding: 0 50px;
  }
  .top-btn{
    margin-bottom: 10px;
  }
  .computer-img{
    width: 100%;
    margin-top: 40px;
  }
  .header-box{
    width: 100%;
    margin-top: -10rem;
    margin-left: auto;
    margin-right: auto;
  }
  .header-box1{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .header-end-para{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 900px){
  .header-box{
    width: 100%;
    margin-top: -14rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 767px){
  .header-box{
    width: 100%;
    margin-top: -17rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 500px){
  .header-get-btn{
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .logo{
    margin-top: 5px;
  }
  .header-box{
    width: 100%;
    margin-top: -22rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-menu, .dropdown.active .dropdown-menu {
  display: block;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}
